import React from 'react'
import PropTypes from 'prop-types'

import { connect } from 'react-redux'
{{#if wantMessages}}
import { FormattedMessage } from 'react-intl'
{{/if}}
{{#if wantCSS}}
import styles from './{{ properCase name }}.less'
{{/if}}

export class {{ properCase name }} extends React.Component {
  render = () =>
    {{#if wantCSS}}
    <div className={{curly true}} styles.{{ camelCase name }} {{curly}}>
    {{else}}
    <div>
    {{/if}}
    {{#if wantMessages}}
      <FormattedMessage
        id='{{ camelCase name }}.title.example'
        description='A title for {{ properCase name }}'
        defaultMessage='Title'
      />
    {{/if}}
    </div>
}

{{ properCase name }}.propTypes = {
  aString: PropTypes.string,
  anObject: PropTypes.object,
  aFunc: PropTypes.func,
  aBool: PropTypes.bool,
  anArray: PropTypes.array,
}

const mapStateToProps = (state) => ({
})

const mapDispatchToProps = (dispatch) => ({
  dispatch,
})

export default connect(mapStateToProps, mapDispatchToProps)({{ properCase name }})
